header
  div#logo
    a(href="index.html")
      img(src="img/logo.png" alt="ENUSEC logo")

  h1#title
    a(href="index.html") Edinburgh Napier University Security Society

  include nav.pug

  h3#tagline
    Have an interest in hacking, digital forensics, malware analysis, penetration testing or infosec in general? <br /><span class="bold">We have a spot for you.</span></h3>

