div
  section
    h2 Activity page

    p
      <span class="bold">Where?</span> Merchiston Campus C27<br />
      <span class="bold">When?</span> Every Wednesday, 1-3PM<br /><br />
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=enusec%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FLondon" style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
