div
    section
        div.singleColumn
                <p><span class="bold">President</span></br><a href="https://twitter.com/aabydk" target="_blank">Peter Aaby</a></br><img src="img/aaby.jpg" style="border-radius: 50%; width: 15%; height: 15%;"/></p>          
                <p><span class="bold">Treasurer</span></br><a href="https://twitter.com/alexarbelet" target="_blank">Alexandre Arbelet</a></br><img src="img/arbelet.jpg" style="border-radius: 50%; width: 15%; height: 15%;"/></p>
                <p><span class="bold">Vice-President</span></br><a href="https://twitter.com/charleycelice" target="_blank">Charley Celice</a></br><img src="img/celice.jpg" style="border-radius: 50%; width: 15%; height: 15%;"/></p>
                <p><span class="bold">Secretary</span></br><a href="https://twitter.com/kieczkowska" target="_blank">Kinga Kieczkowska</a></br><img src="img/kiecz.jpg" style="border-radius: 50%; width: 15%; height: 15%;"/></p>
                <p><span class="bold">Honorary Officer</span></br><a href="https://twitter.com/tiggney" target="_blank">Robert Teager</a></br><img src="img/teager.jpg" style="border-radius: 50%; width: 15%; height: 15%;"/></p>