div
  section
    div.content
        h2 Contact
    div.singleColumn
        p Do not hesitate to contact us by writing to:
        br
        p join (at) enusec (dot) org
        br
        p Or follow us on any of the social media platforms.