div.smallColumn
  section
    h2 News
    a.twitter-timeline(href="https://twitter.com/_enusec_" data-widget-id="705798108580552704") Tweets by @_enusec_

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

div.smallColumn.right
  section
    h2 Meet us
    p
      <span class="bold">Where?</span> Merchiston Campus C27<br />
      <span class="bold">When?</span> Every Wednesday, 1-3PM<br />
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=enusec%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FLondon" style="border-width:0" width="280" height="200" frameborder="0" scrolling="no"></iframe>
