/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


html {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'allerregular';
}

*{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- Link effect --- */
a{
	color:#5aaad8;
	text-decoration:none;}

a:hover, h1#title a:hover, nav#mainMenu ul li a:hover,nav#mainMenu ul li a#wiki:hover, nav#footerMenu ul li a:hover{
	color:#d41e46;}
	
/* --- Bold effect --- */
span.bold{font-family: 'allerbold';}


/* --- Logo + title --- */
header a{
	text-decoration:none;}

h1#title{
	font-family: '04b03regular';
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	font-size: 2.2em;}

h1#title, div#logo, h3#tagline, footer, div#singleColumn{
    width: 590px;
    margin: 0 auto;
	text-align:center;
	margin-bottom: 50px;
}
	
h1#title a{
	color:black;
	display: block;}

	
div#logo{
    margin-top: 80px;
}


/* --- Menu --- */

div#menuStripe{
    width: 885px;
	margin: 0 auto;
}

div#leftStripe, div#rightStripe{
	float: left;
	width: 130px;
	display: block;
	height:65px;
	padding-top:30px;
	background-repeat:no-repeat;}

div#leftStripe{
	background-image:url(../img/stripLeft.png);
	background-position:left;
	}
div#rightStripe{
	background-image:url(../img/stripRight.png);
	background-position:right;
	}

nav#mainMenu{
	display: block;
	font-family: '04b03regular';
	text-transform: uppercase;
	width: 625px;
	background-color: black;
	float: left;
	height:65px;
	font-size:1.5em;}

nav#mainMenu h2{
    display: none;
	font-weight:normal;
	text-align:center;
	color:#d41e46;
	font-size:1.1em;
	margin-top:15px;}

nav#mainMenu ul{
	list-style:none;
	width: 590px;
	margin:0 auto;
	text-align:center;
	color:#d41e46;}

nav#mainMenu ul li{
	display: inline-block;
	margin-right:8px;
	margin-top:16px;}


nav#mainMenu ul li a{
	display: block;
	color:#82d1ff;
	text-decoration:none;}
	
nav#mainMenu ul li a#wiki{
	color:#c0ff00;}


/* --- Tagline --- */

h3#tagline{
	clear: both;
	margin-top:160px;
	font-size:1.4em;
	text-align:left;
	font-weight:normal;
	text-align:center;}

/* --- Contenu --- */

div#content{
	width:625px;
	margin:0 auto;}


div#content a{font-family: 'allerbold';}

div#content h2{
	font-family: '04b03regular';
	text-transform: uppercase;
	font-weight:normal;
	font-size:1.9em;
	display:block;
	background-color:black;
	color:#f7ef00;
	padding-left:17px;
	padding-top:5px;
	margin-bottom:20px;}
	
span.date{
	font-family: 'allerbold';
	color:#d41e46;
	font-size:1em;
	}


/* two columns */

div.smallColumn{
	display:block;
	float:left;
	width:280px;
	margin-right:51px;
	margin-bottom:20px;
	}

div.smallColumn h2{
	width:275px;}
	
div.right{
	margin-right:0px;}

div.smallColumn p, div.smallColumn img{
	width:244px;
	font-size:1em;
	margin-bottom:10px;
	padding-left:17px;}

div.smallColumn img{
	margin-bottom:20px;}


/* single column */
article#page h2{
	width:250px;
}

div#singleColumn p{
	text-align:left;
	margin-bottom:30px;
	font-size:1em;
	line-height:1.6;}
	
div#singleColumn img{
	margin-bottom:30px;
	max-width:500px;
	height:auto;
	}

/* --- Footer --- */

footer{
	clear:both;
	margin-bottom: 200px;
}

nav#footerMenu{
	background-image:url(../img/footerBg.png);
	background-position:center;
	background-repeat:no-repeat;
	width:590px;
	height:57px;
	vertical-align:middle;
	padding-top:30px;
	}

nav#footerMenu ul{
	list-style:none;}

nav#footerMenu ul li{
	display:inline-block;
	color:#f7ef00;
	font-family: '04b03regular';
	text-transform: uppercase;
	font-weight:normal;
	font-size:1.3em;
	margin-left:9px;
	margin-right:9px;
	}


nav#footerMenu ul li a{
	color:#8febff;
	text-decoration:none;
	display:block;}

p#copyright{
	margin-top:50px;
	text-align:left;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* --- RESPONSIVE --- */


@media screen and (max-width: 890px)  {
	div#leftStripe, div#rightStripe{
		width: 50px;
	}
	div#menuStripe{
    	width: 725px;
	}
}

@media screen and (max-width: 730px)  {
	div#leftStripe, div#rightStripe{
		width: 0px;
	}
	div#menuStripe{
    	width: 625px;
	}
	
	div#singleColumn img{
		max-width:450px;
		height:auto;
	}
}


/* --- TABLET + SMARTPHONE --- */

@media screen and (max-width: 650px)  {
	h1#title, div#logo, h3#tagline, div#menuStripe, div#content, footer{
		margin-left:5%;
		margin-right:5%;
		width:90%;
		margin-bottom: 30px;
	}
	
	nav#mainMenu ul li{
		display:none;}
	
	nav#mainMenu, nav#mainMenu ul{
		width:100%;
		background-color:black;}
		
	nav#mainMenu ul.visibleMenu{
		position:relative;
	}
		
	div#logo{
		margin-top: 50px;
	}
	h1#title{
		font-size:2em;
	}
	nav#mainMenu h2{
		display: block;
		cursor:pointer;
		margin-bottom:5px;
	}
	
	nav#mainMenu ul.visibleMenu li{
		display: block;
		width:100%;
		text-align:center;
		margin:0px 0px 0px 0px;
		}
		
	nav#mainMenu ul.visibleMenu li a{
		padding-top:10px;
		padding-bottom:10px;
		}
		
	h3#tagline{
		margin-top:5px;
		font-size:1.6em;
		}
		
	div.smallColumn, div#singleColumn{
		width:100%;}
	
	div#content h2{
		text-align:center;
		width:100%;
		padding-left:0px;}	
	
	div.smallColumn h2{
		width:256px;
		}

	div.smallColumn{
		text-align:center;}
	
	div.smallColumn p, div#singleColumn p{
		text-align:left;
		width:100%;
		font-size:1.1em;
		margin-left:0px;
		margin-bottom:20px;}

	div.smallColumn img{
		margin-left:0px;
		margin-bottom:30px;}

	nav#footerMenu{
		width:100%;
		display:block;
	}
	nav#footerMenu{
		background-image:none;
	}
	
	nav#footerMenu ul{
		padding-top:15px;
		background-color:#000;
	}
	
	nav#footerMenu ul li{
		margin-bottom:10px;
		}
	nav#footerMenu ul li#followUs{
		display:block;
		}
		
	p#copyright{
		margin-bottom:150px;
	}

}

@media screen and (max-width: 500px)  {
	div#singleColumn img{
		max-width:100%;
		height:auto;
	}
	h3#tagline{font-size:1.4em;}
	div#singleColumn p{font-size:1em;
}

@media screen and (max-width: 400px)  {
	h1#title{
		font-size:1.2em;
	}
	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
