doctype html
html(lang='en')
  head
    include includes/head.pug

  body
    include includes/header.pug

    <!-- main content  -->
    <div id="content">
      include pages/home.pug
    </div>

    include includes/footer.pug
