doctype html
html(lang='en')
  head
    include includes/head.pug

  body
    include includes/header.pug

    <!-- main content  -->
    div#content
      include pages/home.pug

    include includes/footer.pug
